@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter-regular';
  src: url('./environment/fonts/Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-medium';
  src: url('./environment/fonts/Inter-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-semibold';
  src: url('./environment/fonts/Inter-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

.colored_backgorund {
  background-image: url("./environment/images/MainBackground.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.phoenix_bank_card {
  backdrop-filter: blur(21.2658px);
}

.sign-in-checkbox input[type=checkbox] {
  width: 16px;
  height: 16px;
}

a:hover {
  opacity: 0.8 !important;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.css-eg0mwd-MuiSlider-thumb {
  background-color: #FFFFFF !important;
  width: 24px !important;
  height: 24px !important;
}

.css-14pt78w-MuiSlider-rail {
  height: 8px !important;
  background-color: #E4E7EC !important;
  opacity: 1 !important;
}

.css-187mznn-MuiSlider-root {
  height: 8px !important;
  color: #7F56D9 !important;
}

.Mui-active {
  box-shadow: 0px 0px 0px 8px rgba(148, 50, 228, 0.16) !important;
}

.MuiSlider-valueLabel,
.MuiSlider-valueLabelOpen,
.css-1kz0hui-MuiSlider-valueLabel {
  top: 65px !important;
  background-color: white !important;
  color: #344054 !important;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05) !important;
  border-radius: 8px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  padding: 8px 12px !important;
}

.MuiSlider-valueLabelOpen::before {
  display: none !important;
}

.recharts-layer, .recharts-area, .area-chart {
  background-color: linear-gradient(180deg, #7F56D9 0%, rgba(127, 86, 217, 0) 95.55%) !important;
}

.recharts-cartesian-grid-vertical {
  display: none !important;
  z-index: -10 !important;
}

.recharts-cartesian-axis-line {
  display: none !important;
}

.recharts-cartesian-axis-ticks {
  right: 20px !important;
}

.recharts-cartesian-axis-tick-value {
  right: 25px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.MuiSelect-select {
  padding: 11px 14px !important;
  cursor: pointer;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 8px !important;
}

.invoice-table {
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}