@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter-regular';
  src: url('./environment/fonts/Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-medium';
  src: url('./environment/fonts/Inter-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-semibold';
  src: url('./environment/fonts/Inter-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

.colored_backgorund {
  background-image: url("./environment/images/MainBackground.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.phoenix_bank_card {
  backdrop-filter: blur(21.2658px);
}